@import "tailwindcss";

@theme {
  --container-center: true;
  --container-padding: 1.5rem;
  --container-padding-md: 2rem;
  --container-padding-lg: 3rem;
  --container-padding-xl: 4rem;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 193;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #ffffff;
  background-color: #0a0a0a;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #171717;
}
::-webkit-scrollbar-thumb {
  background: #eab308;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ca8a04;
}

@layer utilities {
  .container {
    @apply mx-auto max-w-7xl w-full;
  }
}
